@font-face {
  font-family: Commodore;
  src: url('../assets/fonts/Commodore.ttf');
  /* font-weight:400; */
  /* font-weight:normal; */
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  /* width: 800px; */
}
